@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

.lato {
  font-family: "Lato", sans-serif;
}

.noto {
  font-family: "Noto Serif", serif;
}

.text-1 {
  @apply text-[#b2d8d8];
}

.text-2 {
  @apply text-[#66b2b2];
}

.text-3 {
  @apply text-[#008080];
}

.text-4 {
  @apply text-[#006666];
}

.text-5 {
  @apply text-[#004c4c];
}

.bg-dark-green {
  background-color: #006400;
}
